extends layout.pug

block content
	h1 Hasta Randevuları
	form(action="/hasta_randevulari" method="post")
		label(for="tc") TC
		input(type="text" id="tc" name="tc")
		input(type="submit" value="Bul")
	if result
		table
			thead
				th Doktor TC
				th İsim
				th Soyisim
				th Cinsiyet
				th Alan
				th Ünvan
				th Tarih
			tbody
				for randevu in result
					tr
						td= randevu.doktor_tc
						td= randevu.isim
						td= randevu.soyisim
						td= randevu.cinsiyet
						td= randevu.alan
						td= randevu.unvan
						td.tarih= randevu.tarih
		script.
			document.querySelectorAll(".tarih").forEach(i =>
				i.innerText = new Date(Date.parse(i.innerText)).toLocaleString());