extends layout.pug

block content
	h1 Kullanıcı Ara
	form(action="/kullanici_ara" method="post")
		label(for="arama") Arama
		input(type="text" id="arama" name="arama")
		input(type="submit" value="Bul")
	if result
		table
			thead
				th TC
				th İsim
				th Soyisim
				th Cinsiyet
				th Rol
			tbody
				for kullanici in result
					tr
						td= kullanici.tc
						td= kullanici.isim
						td= kullanici.soyisim
						td= kullanici.cinsiyet
						td= kullanici.rol
		script.
			document.querySelectorAll(".tarih").forEach(i =>
				i.innerText = new Date(Date.parse(i.innerText)).toLocaleString());